<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/main.css" type="text/css">
  <link rel="shortcut icon" href="../images/favicon.png">
  <title> Econ - Biogen </title>
  <!-- Meta tags -->
  <meta charset='UTF-8'>
	<meta name='keywords' content=''>
	<meta name='description' content='Contract data solutions for Biogen'>
	<meta name='subject' content=''>
	<meta name='copyright' content='Raptor Creations'>
	<meta name='language' content='EN'>
	<meta name='revised' content='Wednesday, September 12, 2016, 13:47'>
	<meta name='Classification' content=''>
	<meta name='author' content='Raptor Creations'>
	<meta name='designer' content='Raptor Creations'>
	<meta name='reply-to' content='nilsgarland@raptorcreations.net'>
	<meta name='owner' content='Raptor Creations'>
	<meta name='url' content=''>
	<meta name='identifier-URL' content=''>
	<meta name='category' content='Data compression libraries'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <script src="../static/js/main.js"></script>
</body>
</html>
